.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .mySlide {
    display: none;
    position: relative;
  }
  
  .mySlide.active {
    display: block;
  }
  
  .slide-img {
    width: 100%;
    height: 400px;
    object-fit:cover;
  }
  
  .text {
    color: white;
    font-size: 20px;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .fade {
    animation: fade 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .dot-container {
    text-align: center;
    padding-top: 10px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  
  .dot.active {
    background-color: #333;
  }
  